@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes video-poster {
  to {
    opacity: 0;
  }
}

@keyframes video-poster {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes video-button {
  to {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes video-button {
  to {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

textarea,
button,
select,
input {
  margin: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  resize: none;
  vertical-align: top;
}

input[type="submit"] {
  display: block;
  text-align: center;
}

select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  background: none;
  color: #222;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

b {
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header,
section,
footer {
  position: relative;
}

.container {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.page-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-content > footer {
  margin-top: auto;
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: #dcf4ff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.touchscreen .btn.btn__order-item {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #37065e;
  -webkit-transition: all 0s;
  transition: all 0s;
}

body.touchscreen .order-item-card.out-of-stock .btn__order-item {
  pointer-events: none;
  visibility: hidden !important;
}

a {
  color: #222;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #222;
}

::-ms-input-placeholder {
  color: #222;
}

::placeholder {
  color: #222;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #222;
}

:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :-webkit-autofill:active {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #222;
}

.image-transform-hack {
  -webkit-transform: rotate(0.0001deg);
          transform: rotate(0.0001deg);
  image-rendering: -moz-crisp-edges;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #37065e;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.btn:hover {
  background-color: #6c00c1;
}

.btn.btn__order-item {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-transform: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 0.33s cubic-bezier(0.3, 0, 0, 1), background-color 0.4s, -webkit-transform 0.33s cubic-bezier(0.3, 0, 0, 1);
  transition: opacity 0.33s cubic-bezier(0.3, 0, 0, 1), background-color 0.4s, -webkit-transform 0.33s cubic-bezier(0.3, 0, 0, 1);
  transition: opacity 0.33s cubic-bezier(0.3, 0, 0, 1), transform 0.33s cubic-bezier(0.3, 0, 0, 1), background-color 0.4s;
  transition: opacity 0.33s cubic-bezier(0.3, 0, 0, 1), transform 0.33s cubic-bezier(0.3, 0, 0, 1), background-color 0.4s, -webkit-transform 0.33s cubic-bezier(0.3, 0, 0, 1);
}

.price {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
          align-items: center;
}

.price .old-price,
.price .new-price {
  white-space: nowrap;
  opacity: 0;
}

.price .new-price {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  color: #f12424;
}

.price .old-price {
  margin-right: 20px;
  position: relative;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  color: #888;
}

.price .old-price::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 110%;
  height: 1px;
  background-color: #f12424;
  content: "";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price.price__order-item {
  padding-left: 4px;
  width: 200px;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.price.price__order-item .new-price {
  font-size: 18px;
}

.price.price__order-item .old-price {
  font-size: 16px;
  margin-right: 17px;
}

a, .reviews-arrow-next,
.reviews-arrow-prev {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Top Banner
 */
.top-banner {
  min-height: 1px;
}

.tb-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}

.tb-img {
  width: 100vw;
  min-height: 1px;
}

.tb-img img {
  width: 100%;
}

.tb-in {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.tb-in::before {
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF007A), to(#FF9624));
  background: -webkit-linear-gradient(bottom, #FF007A 0%, #FF9624 100%);
  background: linear-gradient(0deg, #FF007A 0%, #FF9624 100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  z-index: -1;
}

.logo {
  font-size: 16px;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 7.4375em;
}

.tb-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  margin-left: auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.tb-list li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  margin-right: 28px;
}

.tb-list li:last-child {
  margin-right: 0;
}

.tb-list-icon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative;
  font-size: 16px;
  margin-right: -0.4375em;
  top: 0.5em;
  height: 3.75em;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.tb-list-icon-1 {
  width: 5.1875em;
}

.tb-list-icon-2 {
  width: 6.8125em;
}

.tb-list-icon-3 {
  width: 5.0625em;
}

.tb-list-text {
  width: 144px;
  font-size: 18px;
  color: #fff;
}

.tb-btn {
  position: relative;
  display: block;
  background-color: #7cd8ff;
  padding: 20px 80px 18px 30px;
  font-size: 18px;
  color: #37065e;
  font-family: "Roboto-Medium", sans-serif;
  overflow: hidden;
  z-index: 0;
  margin-left: 35px;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.tb-btn:hover {
  background-color: #42c6ff;
}

.tb-btn::before {
  font-size: 16px;
  position: absolute;
  right: 0.625em;
  top: 0;
  display: block;
  width: 5em;
  height: 5em;
  background: url(../img/svg/tb-btn-icon.svg) center/contain no-repeat;
  content: "";
  z-index: -1;
  pointer-events: none;
}

/**
 * Orders
 */
.orders {
  margin-top: -34px;
}

.orders-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 0 70px;
  width: 100%;
}

.orders-title {
  width: 100%;
  max-width: 780px;
  margin-bottom: 54px;
  font-size: 36px;
  font-family: "Roboto-Medium", sans-serif;
  color: #ff5055;
  text-transform: uppercase;
  text-align: center;
}

.order-items-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 0 0;
}

.order-items-title {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  color: #37065e;
  font-size: 36px;
}

.order-items {
  position: relative;
  width: calc(100% + 30px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.order-item {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 360px;
  margin: 0 15px 30px;
}

.order-item.is-open .order-container {
  display: -webkit-flex;
  display: flex;
}

.order-item.is-open .order-item-card {
  background-color: #edfffa !important;
}

.order-item.is-open .order-item-card::before {
  opacity: 1;
}

.order-item.is-open .btn__order-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.order-item:nth-child(3n+1) .order-container {
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.order-item:nth-child(3n+2) .order-container {
  -webkit-align-items: center;
          align-items: center;
}

.order-item:nth-child(3n+3) .order-container {
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.order-item-card {
  position: relative;
  width: 100%;
  padding: 15px 15px 24px;
  background-color: #fff;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.order-item-card.out-of-stock .btn__order-item {
  pointer-events: none;
  visibility: hidden !important;
}

.order-item-card.item--lemon {
  background-color: #efff3b;
}

.order-item-card.item--cyan {
  background-color: #00fff0;
}

.order-item-card::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.order-item-card.is-hovered::before {
  opacity: 1;
}

.order-item-card.is-hovered .order-item-img:first-child {
  opacity: 0;
}

.order-item-card.is-hovered .order-item-img:first-child:nth-last-child(1) {
  opacity: 1;
}

.order-item-card.is-hovered .btn__order-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.order-item-img-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.order-item-imgs {
  position: relative;
  width: 100%;
}

.order-item-img {
  position: relative;
  width: 100%;
  padding-bottom: calc(439/330 * 100%);
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.3, 0, 0, 1);
  transition: opacity 1s cubic-bezier(0.3, 0, 0, 1);
}

.order-item-img:first-child {
  z-index: 1;
}

.order-item-img:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}

.order-item-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  font-family: "object-fit: cover; object-position: 50% 50%";
}

.order-badges {
  font-size: 16px;
  position: absolute;
  left: -0.625em;
  top: 0;
  z-index: 1;
  width: 6.25em;
  pointer-events: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}

.order-badges img {
  width: 100%;
  min-height: 1px;
  margin-bottom: -1.5625em;
}

.order-item-in {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.out-of-stock-label {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  white-space: nowrap;
  font-size: 20px;
  color: #222;
  font-family: "Roboto-Medium", sans-serif;
}

.order-item-logo {
  font-size: 16px;
  width: 4em;
  margin-bottom: 13px;
}

.order-item-title {
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
}

.order-container {
  display: none;
  -webkit-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  margin-top: 30px;
}

.order-in {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.order {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 1140px;
  padding: 50px;
  background-color: #edfffa;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.order-close {
  display: block;
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.order-close::before {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order-close svg {
  width: 100%;
}

.order-close path {
  fill: #666;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.order-close:hover path {
  fill: #222;
}

.order-slider-wrap {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 583px;
}

.order-slider-nav {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 92px;
  opacity: 0;
}

.order-slider-nav > div:nth-child(n+1) {
  display: none;
}

.order-slider-nav.slick-initialized > div {
  display: block;
}

.order-slider-nav .slick-list,
.order-slider-nav .slick-track {
  height: 100% !important;
}

.order-slider-nav .slick-track {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-transform: none !important;
          transform: none !important;
}

.order-slider-nav .slick-track::before, .order-slider-nav .slick-track::after {
  display: none;
}

.order-slider-nav .slick-slide {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}

.order-slider-nav .slick-slide:last-child {
  margin-bottom: 0;
}

.order-slider-nav .slick-slide.slick-current .order-slider-nav-item::before {
  opacity: 1;
}

.order-slider-nav-item {
  position: relative;
  padding-bottom: calc(122/92 * 100%);
  cursor: pointer;
}

.order-slider-nav-item::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
  content: "";
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.order-slider-in {
  position: relative;
  width: calc(100% - 112px);
}

.order-slider {
  width: 100%;
  opacity: 0;
}

.order-slider > div:nth-child(n+1) {
  display: none;
}

.order-slider.slick-initialized > div {
  display: block;
}

.order-slider-item a {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc(628/471 * 100%);
}

.order-slider-item,
.order-slider-nav-item {
  width: 100%;
}

.order-slider-item img,
.order-slider-nav-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  font-family: "object-fit: cover; object-position: 50% 50%";
}

.order-info {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 47px;
  min-height: 628px;
}

.order-logo-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  margin-bottom: 11px;
}

.order-logo {
  font-size: 16px;
  width: 7.4375em;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.order-rating-wrap {
  margin-left: 62px;
}

.order-rating {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.order-rating > * {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.rating-stars {
  position: relative;
  font-size: 16px;
  width: 6.25em;
  height: 1.1875em;
  background: url(../img/svg/stars-empty.svg) center/contain no-repeat;
}

.rating-stars-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.rating-stars-full::before {
  display: block;
  width: 6.25em;
  height: 100%;
  background: url(../img/svg/stars-full.svg) center/contain no-repeat;
  content: "";
}

.rating-text {
  margin-right: 10px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  color: #ff5c00;
}

.order-rating-link {
  color: #444;
}

.order-title {
  margin-bottom: 17px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #37065e;
  line-height: 1.18;
}

.order-list {
  width: 100%;
  margin: 20px 0;
}

.order-list li {
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.order-list li::before {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  width: 1.6875em;
  height: 1.4375em;
  background: url(../img/svg/check-mark-icon.svg) center/contain no-repeat;
  content: "";
}

.order-list li:last-child {
  margin-bottom: 0;
}

.order-list-extra {
  width: 100%;
}

.order-list-extra li {
  position: relative;
  padding-left: 63px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 13px;
}

.order-list-extra li::before {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 2.75em;
  height: 1.625em;
  display: block;
  content: "";
}

.order-list-extra li:last-child {
  margin-bottom: 0;
}

.order-list-extra li.extra-clock::before {
  background: url(../img/svg/extra-clock-icon.svg) center/1.625em 1.625em no-repeat;
}

.order-list-extra li.extra-delivery::before {
  background: url(../img/svg/extra-delivery-icon.svg) center/2.75em 1.625em no-repeat;
}

.order-form {
  width: 100%;
}

.form {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.form label {
  display: none;
}

.form label.error {
  display: none !important;
}

.form .btn {
  width: 100%;
}

.form-input {
  position: relative;
  width: 237px;
  margin-right: 31px;
}

.form-input::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 1;
  pointer-events: none;
}

.form-input.form-input--name::before {
  background: url(../img/svg/input-name-icon.svg) center/16px 20px no-repeat, #37065e;
}

.form-input.form-input--phone::before {
  background: url(../img/svg/input-phone-icon.svg) center/16px 16px no-repeat, #37065e;
}

.form-input.form-input--select::before {
  background: url(../img/svg/input-arrow-icon.svg) center/16px 11px no-repeat, #37065e;
}

.form-input:last-child {
  margin-right: 0;
}

input,
select {
  width: 100%;
  height: 50px;
  border: 1px solid #37065e;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  padding: 10px 10px 8px 74px;
  color: #222;
  font-size: 18px;
  line-height: 1.18;
  vertical-align: top;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

input:focus,
select:focus {
  background-color: #ddfff6;
}

/**
 * Bottom Banner
 */
/**
 * Footer
 */
.footer {
  padding: 12px 0 10px;
  background-color: #2d3540;
  font-size: 15px;
  color: #e5e5e5;
  line-height: 1.5;
}

.footer-content {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  padding: 0 85px 0;
}

.footer-policy {
  color: inherit;
}

.footer-policy:hover {
  color: inherit;
  -webkit-text-decoration: underlin;
          text-decoration: underlin;
}

.reviews {
  background-color: #fff;
  padding-bottom: 44px;
  margin-bottom: -44px;
}

.reviews-content {
  position: relative;
  padding: 62px 0 142px;
}

.reviews-content::before {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: calc(50% - 15px);
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF007A), to(#FF9624));
  background: -webkit-linear-gradient(bottom, #FF007A 0%, #FF9624 100%);
  background: linear-gradient(0deg, #FF007A 0%, #FF9624 100%);
  content: "";
  z-index: -1;
}

.reviews-title {
  margin-bottom: 66px;
  padding-left: 98px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 96px;
  color: #37065e;
  line-height: 1.18;
}

.reviews-slider-wrap {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.reviews-sliders {
  width: calc(100% - 50px);
  display: -webkit-flex;
  display: flex;
}

.reviews-slider-1 {
  width: calc(535/1090 * 100%);
}

.reviews-slider-1 .review {
  padding: 0 30px 0 48px;
}

.reviews-slider-2 {
  width: calc(555/1090 * 100%);
}

.reviews-slider-2 .review {
  padding: 0 50px 0 48px;
}

.reviews-slider {
  position: relative;
}

.reviews-slider .slick-center .review {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.reviews-slider .slick-list {
  display: none;
}

.reviews-slider.slick-initialized .slick-list {
  display: block;
}

@media (min-width: 991px) {
  .hidden-lg {
    display: none;
  }
}

@media (max-width: 991px) {
  .hidden-md {
    display: none;
  }
}

.review {
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.review-text {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

.review-text p {
  margin-bottom: 20px;
}

.review-text p:last-child {
  margin-bottom: 0;
}

.review-name {
  margin-top: 14px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  color: #ccff00;
}

.reviews-slider-1 .review-text {
  color: #222;
}

.reviews-slider-1 .review-name {
  color: #37065e;
}

.reviews-arrows {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
}

.reviews-arrow-next,
.reviews-arrow-prev {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  image-rendering: -moz-crisp-edges;
  cursor: pointer;
}

.reviews-arrow-next svg,
.reviews-arrow-prev svg {
  width: 1.875em;
  height: 1.875em;
}

.reviews-arrow-next path,
.reviews-arrow-prev path {
  fill: #888;
  -webkit-transition: fill .35s;
  transition: fill .35s;
}

.reviews-arrow-next:hover path,
.reviews-arrow-prev:hover path {
  fill: #37065e;
}

/**
 * Policy
 */
.policy {
  position: relative;
  display: block;
  width: 800px;
  margin: 0 auto;
  padding: 50px 50px 40px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.policy h2 {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .policy h2 br {
    display: none;
  }
}

.policy p {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .tb-btn {
    display: none;
  }
  .order-container {
    -webkit-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .order-item {
    width: 450px;
  }
  .order-item:nth-of-type(odd) .order-container {
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .order-item:nth-of-type(even) .order-container {
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .order-slider-wrap {
    min-height: 628px;
  }
  .order-info {
    min-height: 1px;
  }
  .order {
    -webkit-align-items: center;
            align-items: center;
    position: relative;
    width: 930px;
  }
  .order-info {
    padding-left: 0;
    width: 583px;
  }
  .order-slider-wrap {
    margin-bottom: 24px;
  }
  .order-in {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
  }
  .order-form {
    width: 583px;
  }
  .form {
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: -30px;
  }
  .form-input {
    width: calc(50% - 15px);
    margin: 0 0 30px;
  }
  .reviews {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff007a), to(#ff832f));
    background: -webkit-linear-gradient(bottom, #ff007a 0%, #ff832f 100%);
    background: linear-gradient(0deg, #ff007a 0%, #ff832f 100%);
    padding-bottom: 66px;
    margin-bottom: -66px;
  }
  .orders {
    margin-top: 34px;
  }
  .reviews-content::before {
    display: none;
  }
  .reviews-content {
    padding: 62px 0 92px;
  }
  .reviews-slider-2 {
    width: 100%;
  }
  .reviews-slider-1 {
    display: none;
  }
  .reviews-title {
    color: #ccff00;
  }
  .reviews-arrow-next path,
  .reviews-arrow-prev path {
    fill: #fff;
  }
  .reviews-arrow-next:hover path,
  .reviews-arrow-prev:hover path {
    fill: #ccff00;
  }
  .reviews-slider .slick-track {
    display: -webkit-flex;
    display: flex;
  }
  .reviews-slider .slick-slide {
    display: -webkit-flex;
    display: flex;
    height: auto;
  }
  .review {
    width: 100%;
    -webkit-justify-content: center;
            justify-content: center;
  }
  .policy {
    width: 740px;
  }
  .footer-content {
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 0;
  }
  .footer-copyright {
    -webkit-order: 1;
            order: 1;
    width: 100%;
  }
  .footer-address {
    -webkit-order: 2;
            order: 2;
  }
  .footer-policy {
    -webkit-order: 3;
            order: 3;
    position: relative;
  }
  .form-input:nth-of-type(3):last-child {
    margin: 0 auto 30px;
  }
  .order-list-extra li br {
    display: none;
  }
  .reviews-title {
    padding-left: 0;
    font-size: 78px;
    text-align: center;
  }
  .reviews-slider-wrap {
    -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .reviews-arrows {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .reviews-arrow-next {
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .reviews-arrow-prev {
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .reviews-slider-2 .review {
    padding: 0 50px;
  }
  .reviews-slider .slick-list {
    overflow: visible;
  }
  .footer-content {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
  }
  .footer-policy {
    -webkit-order: 1;
            order: 1;
  }
  .footer-copyright {
    -webkit-order: 2;
            order: 2;
    text-align: center;
  }
  .footer {
    background-color: #041a1d;
  }
}

@media (max-width: 991px) {
  .policy {
    width: 658px;
  }
  .reviews-slider {
    width: 100%;
  }
  .order-item {
    width: 330px;
  }
  .order {
    width: 690px;
  }
  .order-slider-wrap,
  .order-info,
  .order-form {
    width: 100%;
  }
  .price.price__order-item {
    width: 186px;
  }
  .order-close {
    display: none;
  }
  .tb-in::before {
    display: none;
  }
  .top-banner {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF007A), to(#FF9624));
    background: -webkit-linear-gradient(bottom, #FF007A 0%, #FF9624 100%);
    background: linear-gradient(0deg, #FF007A 0%, #FF9624 100%);
  }
  .tb-img {
    -webkit-order: 1;
            order: 1;
    margin: 30px 0 22px;
    position: relative;
    right: 10px;
    width: 117vw;
  }
  .tb-in {
    -webkit-order: 2;
            order: 2;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    padding: 0;
  }
  .tb-btn {
    display: block;
    margin-left: 0;
    padding: 20px 140px 18px 72px;
  }
  .tb-btn::before {
    right: 50px;
  }
  .tb-list {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin: 0 0 17px;
  }
  .tb-list-text {
    width: auto;
  }
  .tb-content {
    padding: 20px 0 50px;
  }
  .orders-title {
    margin: 72px 0 34px;
  }
  .orders {
    margin: 0;
  }
  .reviews-slider-2 .review {
    padding: 0 43px;
  }
  .tb-list-icon {
    width: 6.8125em;
  }
  .tb-list-icon-1 img {
    width: 5.1875em;
  }
  .tb-list-icon-2 img {
    width: 6.8125em;
  }
  .tb-list-icon-3 img {
    width: 5.0625em;
  }
  .tb-list {
    position: relative;
    left: -28px;
  }
  .tb-list li {
    margin-right: 0;
  }
  .reviews-title {
    margin-bottom: 40px;
  }
  .orders-content {
    padding: 0 0 50px;
  }
}

@media (max-width: 767px) {
  .orders-title {
    font-size: 42px;
    margin: 56px 0 34px;
  }
  .order-item {
    width: 100%;
    max-width: 360px;
    margin: 0 0 30px;
  }
  .order-items {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    margin: 0;
    width: 100%;
  }
  .order-item:nth-child(n) .order-container {
    -webkit-align-items: center;
            align-items: center;
  }
  .order {
    width: 510px;
  }
  .form {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 0;
  }
  .form-input {
    width: 100%;
    max-width: 290px;
    margin: 0 0 10px;
  }
  .form-input:last-child {
    margin-bottom: 0;
  }
  .form-input.form-input--btn {
    margin-top: 10px;
  }
  .order-slider-wrap {
    -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 683px;
  }
  .order-slider-nav {
    width: 100%;
  }
  .order-slider-nav .slick-track {
    -webkit-flex-direction: row;
            flex-direction: row;
  }
  .order-slider-nav .slick-slide {
    margin: 0 5px 0;
  }
  .order-slider-nav .slick-list {
    margin: 0 -5px;
  }
  .order-slider-in {
    width: 100%;
    margin-bottom: 10px;
  }
  .reviews-title {
    font-size: 58px;
  }
  .reviews-slider-2 .review {
    padding: 0;
  }
  .reviews-sliders {
    width: 100%;
  }
  .reviews-arrow-next,
  .reviews-arrow-prev {
    height: 80px;
  }
  .reviews-content {
    padding: 42px 0 42px;
  }
  .policy {
    width: 456px;
    padding: 50px 40px 40px;
  }
  .footer-content {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    text-align: center;
  }
  .footer-policy {
    -webkit-order: 1;
            order: 1;
  }
  .footer-copyright {
    -webkit-order: 2;
            order: 2;
  }
  .footer-address {
    -webkit-order: 3;
            order: 3;
  }
  .reviews {
    padding-bottom: 88px;
    margin-bottom: -88px;
  }
}

@media (max-width: 575px) {
  .container > [class$="-content"] {
    max-width: 510px;
    margin: 0 auto;
  }
  .policy {
    max-width: 456px;
    width: calc(100% - 8px);
    padding: 25px 18px 15px;
    font-size: 14px;
    text-align: left;
  }
  .policy h2 {
    font-size: 22px;
  }
  .policy p {
    margin-bottom: 10px;
  }
  .policy .mfp-close {
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
}

@media (max-width: 575px) and (min-width: 348px) {
  .policy {
    text-align: justify;
  }
}

@media (max-width: 575px) and (min-width: 414px) {
  .policy {
    padding: 25px 30px 25px;
  }
}

@media (max-width: 575px) {
  .footer-content {
    font-size: 14px;
    line-height: 1;
  }
  .footer {
    padding: 12px 0;
  }
  .order-item-in {
    position: relative;
    width: 100%;
    margin: 16px 0 14px;
  }
  .price.price__order-item {
    width: 100%;
    padding-left: 0;
    -webkit-justify-content: center;
            justify-content: center;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .order-badges {
    font-size: 4.0625vw;
  }
}

@media (max-width: 575px) and (min-width: 394px) {
  .order-badges {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .reviews {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  body.touchscreen .btn.btn__order-item {
    position: absolute;
    right: 0;
    top: calc(100% + 22px);
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .reviews-title {
    font-size: 9.375vw;
  }
}

@media (max-width: 575px) and (min-width: 619px) {
  .reviews-title {
    font-size: 58px;
  }
}

@media (max-width: 575px) {
  .order-item-title {
    width: 54%;
  }
  .order {
    width: calc(100vw - 30px);
    padding: 10px 10px 50px;
  }
  .order .price {
    -webkit-order: 1;
            order: 1;
    width: 100%;
    -webkit-justify-content: center;
            justify-content: center;
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) and (min-width: 380px) {
  .order {
    padding: 15px 15px 50px;
  }
}

@media (max-width: 575px) {
  .order-logo-wrap {
    -webkit-order: 2;
            order: 2;
  }
  .order-title {
    -webkit-order: 3;
            order: 3;
    width: 50%;
    color: #222;
    margin-bottom: 0.38889em;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .order-title {
    font-size: 5.625vw;
  }
}

@media (max-width: 575px) and (min-width: 427px) {
  .order-title {
    font-size: 24px;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .rating-stars {
    font-size: 4.375vw;
  }
}

@media (max-width: 575px) and (min-width: 366px) {
  .rating-stars {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .order-list {
    -webkit-order: 4;
            order: 4;
  }
  .order-list-extra {
    -webkit-order: 5;
            order: 5;
  }
  .order-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .order-slider-wrap {
    min-height: 1px;
  }
  .reviews-content {
    padding: 38px 0 24px;
  }
  .reviews-title {
    margin-bottom: 32px;
  }
  .orders-content {
    padding: 0 0 20px;
  }
  .order-item-card {
    padding: 10px 10px 24px;
  }
}

@media (max-width: 575px) and (min-width: 380px) {
  .order-item-card {
    padding: 15px 15px 24px;
  }
}

@media (max-width: 575px) {
  .rating-text {
    font-size: 22px;
  }
}

@media (max-width: 575px) and (min-width: 380px) {
  .rating-text {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  .order-slider-wrap {
    margin-bottom: 13px;
  }
  .orders-title {
    margin: 41px 0 17px;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .orders-title {
    font-size: 9.375vw;
  }
}

@media (max-width: 575px) and (min-width: 448px) {
  .orders-title {
    font-size: 42px;
  }
}

@media (max-width: 575px) {
  .order-items-title {
    line-height: 1.28;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .order-items-title {
    font-size: 9.375vw;
  }
}

@media (max-width: 575px) and (min-width: 384px) {
  .order-items-title {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .order-items-wrap {
    padding: 10px 0 0;
  }
  .tb-img {
    right: 4px;
  }
  .tb-list {
    left: -14px;
    margin: 0 0 20px;
  }
  .rating-text {
    line-height: 1;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .order-logo {
    font-size: 2.75vw;
  }
}

@media (max-width: 575px) and (min-width: 582px) {
  .order-logo {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .order-logo-wrap {
    width: 100%;
    position: relative;
  }
  .order-rating-wrap {
    margin-left: 0;
    position: absolute;
    right: 0;
    top: -3px;
  }
  .order-slider-wrap {
    min-height: calc(450/320 * 100vw);
  }
  .form-input:nth-of-type(3):last-child {
    margin: 0;
  }
}
